@media only screen and (max-width:1200px){
    
    
    html,
    body{ font-size: 16px;}
    .row{ max-width: 900px;}
 section{ padding: 60px 0;}   
    h1{font-size: 250%; 
    word-spacing: 12px;}
     .hero-text-box{width: 390px;word-spacing: 1px; left: 50%;top: 380px;font-size: 80%; }
    .iconm{top:520px; left: 60%}
    
   
    header{height: 800px;}
    
    
    .img-logo img{
    
    
    top: 250px;
    left: 5px;
    height: 550px;
}
    
    
    
    
    
    
    .icon-img li img{ height: 50px;}.icon-img li img:hover{ transform: none;}
    .bro img{height: 400px;}
    .bro img:hover {transform:none;}
    .resume img {height: 500px;}
    .btn { width: 300px; margin-left: 70px;}
    .footer-section{height: 35vh;}
    .p-footer{margin: 45px 350px;}
    .input-form input,.input-form textarea{ width: 80%;margin: 10px 90px;}
    .btn-massage{margin-left: 350px;}

            

    
   

}




/*SMALL TABLET TO BIG TABLET:767 TO 1023*/
@media only screen and (max-width:1020px){
     html,
    body{ font-size: 15px; overflow-x: hidden;}
    .row{ max-width: 600px;}
 section{ padding: 30px 0;}   
    h1{font-size: 200%;}
    .hero-text-box{width: 390px;word-spacing: 3px; left: 50%;top: 380px }
    .iconm{top:520px; left: 60%}
    
   
    header{height: 800px;}
    
    
    .img-logo img{
    
    
    top: 250px;
    left: 5px;
    height: 550px;
}

    
    .icon-img li img{ height: 40px;}.icon-img li img:hover{ transform: none;}
    .bro img{display: block; height: 250px;}
    .icon-respo{display: inline-block; width: 150%; padding-left:-25px;}
    .resume img {height: 350px; margin-top: 10px; margin-left:-120}
    .btn { width: 200px; margin-left: 210px;margin-top: 410}
    .footer-section{height: 20vh;}
    .p-footer{margin: 35px 50px;}
    .input-form input,.input-form textarea{ width: 100%;margin: 10px 0px;}
    .btn-massage{margin-left: 250px;}
    .icon-footer{font-size: 150%;}

            

}


/*SMALL PHONE TO SMALL TABLET: 480px to 767px*/

@media only screen and (max-width:767px){
     html,
    body{ font-size: 15px; overflow-x: hidden;}
    .row{ max-width: 550px;}
 section{ padding: 30px 15px;} 
    .main-nav{display: none;}
    .main-nav{float: left; margin-top: 5px; }
    .main-nav li{display: block; margin:10px}
    .main-nav li a{display: block;}
    
    h1{font-size: 130%; word-spacing: 5px;}
    .hero-text-box{width: 350px;word-spacing: 3px; left: 30%;top: 120px }
    .iconm{top:220px; left: 40%}
    
   
    header{height: 800px;}
    .mobile-nav{display:inline-block;}
    
    .img-logo img{
    
    
    top: 250px;
    left: 5px;
    height: 550px;
   
    
}

    
    
    
    
    .bro img{ height: 200px;}
    
    
    .resume img { margin-top: 50px;}
    .btn { width: 180px; margin-left: 166px;margin-top: 420}
    .input-form input,.input-form textarea{ width: 100%;margin: 10px 0px;}
    .btn-massage{margin-left: 120px; width: 150;
    height: 35}
    .icon-footer{font-size: 150%;}
     
}



@media only screen and (max-width:519px){

    .row{ max-width: 400px;}
    section{ padding: 30px 15px;}   
  
    
     header{height: 650px;}
    
    .hero-text-box{width: 290px;  top: 200px; font-size: 80%; left: 15%}
    .img-logo img{top: 350px;
    left: 95px;
    height: 300px;   
}
    .iconm{top:300px; left: 30%}

    
    /*ABOUT ME SECTION*/
    .bro img{ margin-left: 55px;}
    .icon-respo{ margin-top: 35px;}

    
    
    
    
    
    
    .resume img { margin-top: -450px; margin-left:45px}
    .btn { width: 180px; margin-left: 85px;margin-top: 410}
    .input-form input,.input-form textarea{ width: 100%;margin: 10px 0px;}
    .btn-massage{margin-left: 120px; width: 150;
    height: 35}
    .icon-footer{font-size: 150%;}
    
}

/*@media only screen and (max-height:630px){
    
    .img-logo{
        height: 60%;
        left: 20%;
        top: 155px;}
    .pro-head{height: 90vh;}
     h1{font-size: 120%;}
    .hr{left: 25px;top: 150px;word-spacing:}
    .name-logo{width: 100%;left: 1px;top:80px;word-spacing: 1px; }
    .icon{top:160px;left: 110;}
}
    
    
    
    
*/
    
    
