/*BASIC SETUP*/

*{
    margin: 0;
    padding: 0;
}


html,
body{
    font-size: 20px;
    background-color: #fff;
    color: #555;
    font-family: 'Montserrat', sans-serif;
    
    
}
/*************************************/
/*REUSEABLE CODE*/
/*************************************/
.row{
    max-width: 1140px;
    margin: 0 auto;
}

section{
    padding: 80px 0;
}
span{
    color: red;
}

/*
p span{
    text-align: center;
    margin-left: 500px;
}
*/

/*************************************/
/*HEADERS*/
/*************************************/

h1,h2{
    text-transform: uppercase;
    
    letter-spacing: 5px;
    
}

h1{
    font-size: 280%; 
    color: #000;
    font-family: 'Montserrat';
    text-align: center;
    word-spacing: 25px;
    

}
h2{
     color:#555;
}
/*************************************/
/*TOP HEADER*/
/*************************************/
header{
    background-color: #d8d8d8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 1000px;
    overflow: hidden;        
}

.hero-text-box{
    position: absolute;
    width: 640px;
    top: 500px;
    left: 50%;
    -webkit-transform: translate(-50% ,-50%);
            transform: translate(-50% ,-50%);
}
.img-logo img{
    
    position: absolute;
    top: 210px;
    left:180px;

    height: 800px;
   
    
}


/*************************************/
/*ICON*/
/*************************************/
.iconm{
    position:absolute;
    float: right;
    top:1710;
    left: 60%;
    font-size: 200%;
}
.iconm  a{
    text-decoration: none;
    color: #555;
    opacity: 0.8;
    padding: 10px;
    
    
}
.iconm a:hover{
    
    opacity: 1;
    
    
    
}
/*************************************/
/*MAIN NAV*/
/*************************************/
.main-nav{
    float:right;
}

.main-nav li{
    display: inline-block;
    list-style: none;
    padding-right: 25px;
    margin-top: 25px;
   
    

}

.main-nav li a{
    text-decoration: none;
    color: #000; 
    
    opacity: 1;
    -webkit-transition: color .5s;
    transition: color .5s;
    font-size: 120%
}

.main-nav li a:hover{
    
    color: #e62f2f; 
    
}
.logo img{width: 140px;
   
    height: 50px;
    width: auto;
    float: left;
    margin-top: 15px;
    cursor: pointer;
    
}

/*************************************/
/*STICKY-NAV*/
/*************************************/

.sticky{
    position: fixed;
    top:0 ;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9999;
/*    display:none;*/
    box-shadow: 0px 1px 1px rgba(85, 85, 85, 0.45);

}

.sticky .logo img {
    height: 30px;
}




.sticky .main-nav li a{
     
    
    
    
}

/*************************************/
/*MOBILE NAV*/
/*************************************/

.mobile-nav{
    float: right;
    margin-top: 30px;
    font-size: 200%;
    cursor: pointer;
    display: none;
    z-index: 9999;
    
}

.mobile-nav .main-nav li a{
     
    margin-left: 555px;
    
    
}



/*************************************/
/*SECTION ABUOT ME*/
/*************************************/
.section-adout{overflow-x: hidden;}

.abaut-me p{
    margin-top: 50px;
    margin-right: 85px;   
}

.icon-img li{
    list-style: none;
    display: inline-block;
    padding-right: 45px;
    margin-top: 25px;
}

.icon-img li img{
    height: 60px;
    width: auto;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: transform 1s;
    margin: 5px;
    
    
}

.icon-img li img:hover{
   
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
   
    z-index: 9999;
/*    border: 1px solid rgba(144, 144, 144, 0.38);*/
/*    background-color: aliceblue;*/
/*    box-shadow: 5px 5px 5px #555;*/
/*    padding: 8px;*/
/*    border-radius: 25px;*/
/*    transform: rotateY(180deg);*/ 
}

/*************************************/
/*SECTION WORK*/
/*************************************/

.section-work{
    background-color: #d8d8d8;
    width: 100%;
    
}

.bro{
    text-align: center;
}
.bro img {
    opacity: 0.99;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: transform 1.5s, opacity 1.5s;
    cursor: pointer;
    height: 500px;
        
    
}

/*
.browser-img{
    height: 500px;
}
*/

.bro img:hover{
    opacity: 1.2;
    -webkit-transform: scale(1.2);
    transform: scale(1.07);
    
}


.p{
    padding-top: 35px;
}

/*************************************/
/*RESUME*/
/*************************************/
.section-cv{
    width: auto;
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(255, 255, 255, 0.65)),to(#000)),url(img/shutterstock-10338536170938-620x354.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, 0.65),#000),url(img/shutterstock-10338536170938-620x354.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.hresume{
    color: #ffffff;
    text-align: center;
    font-size: 250%;
    text-shadow: 1px 0px 2px #555;
}

.resume img {
    height: 700px;
    margin-top: 50px ;
    border: 1px solid rgba(103, 103, 103, 0.46);
    -webkit-box-shadow: 5px 2px 1px rgba(255, 255, 255, 0.08);
    box-shadow: 5px 2px 1px rgba(255, 255, 255, 0.08);
    cursor: pointer;
    
        
}

.btn {
    height: 50px;
    width: 500px;
    background-color: DodgerBlue;
    border: none;
    font-size: 100%;
    color: #fff;
    margin-top: 300px;
}

.btn:hover{
    background-color: #1370cb;
    cursor: pointer;
}
/*************************************/
/*CONTACT ME*/
/*************************************/

.section-contact{overflow-x: hidden;}
.input-form{
    margin-top: 70px;

}

.input-form input
{
    height: 45px;
    width: 55%;
    margin: 10px 300px;
    border: 1px solid rgba(85, 85, 85, 0.26);
    border-radius: 5px;
    font-size: 100%;
    padding-left: 10px;
    font-family: inherit;
    
}

.input-form textarea{
    height:105px;
    width: 55%;
    margin: 10px 300px;
    border: 1px solid rgba(85, 85, 85, 0.26);
    border-radius: 5px;
    font-size: 100%;
    padding-left: 10px;
    font-family: inherit;
}


.btn-massage{
    height: 45px;
    width: 200px;
    background-color: orangered;
    border: 1px solid  orangered;
    border-radius: 25px;
    color: #fff;
    margin: 35px 550px;
    cursor: pointer;
    
}


.form-messages{
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}
.success{background-color: #1f9b4f}

.error{background-color: red;}


/*************************************/
/*FOOTER*/
/*************************************/

.footer-section{
    background-color: #d8d8d8;
    background-size: cover;
    height: 20vh;
/*    overflow-x: hidden;*/
}


.icon-footer{
    font-size: 150%;
    color: #555;
    float: right;
    margin-top: 45px
}

.icon-footer a{
    color: #555;
    padding-left: 35px;
    
}

.p-footer{
    margin: 45px 550px;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    font-size: 100%;
    line-height: 22px;
    color: #555;
}


/*************************************/
/*Animations*/
/*************************************/

.js--wp-1,.js--wp-2,.js--wp-3,.js--wp-4,.js--wp-5,.js--wp-6,.js--wp-7,.js--wp-8{opacity: 0;}

.js--wp-1.animated,.js--wp-2.animated,.js--wp-3.animated,.js--wp-4.animated,.js--wp-5.animated,.js--wp-6.animated,.js--wp-7.animated,.js--wp-8.animated{opacity: 1;}



