/*BASIC SETUP*/

*{
    margin: 0;
    padding: 0;
}


html,
body{
    font-size: 20px;
    background-color: #fff;
    color: #555;
    font-family: 'Lato', sans-serif;
    
}

/*REUSEABLE CODE*/
.row{
    max-width: 1140px;
    margin: 0 auto;
}


/*HEADERS*/
h1{
    font-size: 150%;
    color:#fff;
    text-transform: uppercase;
    word-spacing: 25px;
    letter-spacing: 5px;
    text-shadow: 5px 5px 5px #555;
}

/*TOP HEADER*/

.pro-head{
    background-image: url(img/photo-1461749280684-dccba630e2f6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;
        
}

.name-logo{
    position: absolute;
    top: 30%;
}
.img-logo{
    position: relative;
    left: 40%;
    height: 150px;
    top: 250px; 
}



