/*BASIC SETUP*/

*{
    margin: 0;
    padding: 0;
}


html,
body{
    font-size: 20px;
    background-color: #fff;
    color: #555;
    font-family: 'Montserrat', sans-serif;
    
    
}

/*REUSEABLE CODE*/
.row{
    max-width: 1340px;
    margin: 0 auto;
}

section{
    padding: 80px 0;
}

/*HEADERS*/
h1,h2{
    text-transform: uppercase;
    
    letter-spacing: 5px;
    
}

h1{
    font-size: 350%; 
    color: #000;
    font-family: 'Montserrat';
    text-align: center;
    word-spacing: 25px;
    

}
h2{
     color:#555;
}
/*TOP HEADER*/

.pro-head{
    background-color: #d8d8d8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    background-attachment: fixed;
        
}

.name-logo{
    position: absolute;
    left: 50%;
   
    top: 30%;
}
.img-logo{
    position: relative;
    
    height: 95%;
    right: 120%;
    top: 50px; 
}
.hr{
    position: relative;
    
    left: 120%;
    top: 410px;
    color: brown
        
}


/*ICON*/

.icon{
    position: relative;
    top: 550px;
    left: 950;
    font-size: 200%;
    

}
.icon a{
    text-decoration: none;
    color: #555;
    opacity: 0.8;
    padding: 10px;
    
    
}
.icon a:hover{
    
    opacity: 1;
    
    
    
}

/*MAIN NAV*/

.main-nav{
    float:right;
    
}

.main-nav li{
    display: inline-block;
    list-style: none;
    padding: 25px;

}

.main-nav li a{
    text-decoration: none;
    color: #000; 
    opacity: 0.5;
    transform: scale(1);
}

.main-nav li a:hover{
    
    color: #000; 
    opacity: 1;
    transform: scale(1.08);
}



/*SECTION ABUOT ME*/


.abaut-me{
    
    background-color: none;
    
    
}

.abaut-me p{
    margin-top: 50px;
    margin-right: 85px;
    
}

.skills-first{
    padding-top: 55px;
}
.skills-first li{

    list-style: none;
    display: inline-block;
    font-size: 300%;
    padding-right: 25px;
}

.icon-img li{
    list-style: none;
    display: inline-block;
    padding-right: 45px;
    margin-top: 25px;
}

.icon-img li img{
    height: 100px;
    width: auto;
    transform: scale(1);
    margin: 5
    
    
}

.icon-img li img:hover{
    height: 100px;
    width: auto;
    transform: scale(1.2);
   
    z-index: 9999;
/*    border: 1px solid rgba(144, 144, 144, 0.38);*/
/*    background-color: aliceblue;*/
/*    box-shadow: 5px 5px 5px #555;*/
/*    padding: 8px;*/
/*    border-radius: 25px;*/
/*    transform: rotateY(180deg);*/ 
}


/*SECTION WORK*/


.section-work{
    background-color: #d8d8d8;
}

.bro{
    text-align: center;
}
.bro img {
    opacity: 0.99;
    transform: scale(1);
    -webkit-transition: transform 1.5s, opacity 1.5s;
    cursor: pointer;
        
    
}

.bro img:hover{
    opacity: 1.2;
    transform: scale(1.2);
    
}


.p{
    padding-top: 35px;
}


/*RESUME*/

.section-cv{
    background-image: linear-gradient(rgba(255, 255, 255, 0.65),#000),url(img/shutterstock-10338536170938-620x354.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.hresume{
    color: #ffffff;
    text-align: center;
    font-size: 250%;
    text-shadow: 1px 0px 2px #555;
}

.resume img {
    height: 700px;
    margin-top: 50px ;
    border: 1px solid rgba(103, 103, 103, 0.46);
    box-shadow: 5px 2px 1px rgba(255, 255, 255, 0.08);
    cursor: pointer;
    
        
}

.btn {
    height: 50px;
    width: 500px;
    background-color: DodgerBlue;
    border: none;
    font-size: 100%;
    color: #fff;
    margin-top: 300px;
}

.btn:hover{
    background-color: #1370cb;
    cursor: pointer;
}

/*CONTACT ME*/


.input-form{
    margin-top: 70px;

}

.input-form input
{
    height: 45px;
    width: 55%;
    margin: 10px 300px;
    border: 1px solid rgba(85, 85, 85, 0.26);
    border-radius: 5px;
    font-size: 100%;
    padding-left: 10px;
    font-family: inherit;
    
}

.input-form textarea{
    height:105px;
    width: 55%;
    margin: 10px 300px;
    border: 1px solid rgba(85, 85, 85, 0.26);
    border-radius: 5px;
    font-size: 100%;
    padding-left: 10px;
    font-family: inherit;
}


.btn-massage{
    height: 45px;
    width: 200px;
    background-color: orangered;
    border: 1px solid  orangered;
    border-radius: 25px;
    color: #fff;
    margin: 35px 550px;
    cursor: pointer;
    
}



/*FOOTER*/


.footer-section{
    background-color: #d8d8d8;
    background-size: cover;
    height: 20vh
}


.icon-footer{
    font-size: 100%;
    color: #555;
    float: right;
    margin-top: 45px
}

.icon-footer a{
    color: #555;
    padding-left: 35px;
    
}

.p-footer{
    margin: 45px 550px;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    line-height: 22px;
    color: #555;
}





